.video-js {
  &.vjs-live .vjs-live-control {
    margin-left: 1em;
  }

  .vjs-live-control,
  .vjs-seek-to-live-control {
    user-select: none;
    width: auto;
    white-space: nowrap;
  }

  .vjs-seek-to-live-control .vjs-icon-placeholder {
    font-size: 0.8em;
  }
}
