.video-js .vjs-volume-panel {
  /* horizontal */
  &.vjs-volume-panel-horizontal {
    &.vjs-hover,
    &:active,
    &.vjs-slider-active {
      width: 8em;
    }

    &.vjs-mute-toggle-only {
      width: 3em;
    }
  }

  .vjs-volume-bar {
    /* horizontal */
    &.vjs-slider-horizontal {
      height: 0.3em;
    }

    .vjs-volume-level {
      /* background-color: var(--player-primary-color); */
      background-color: #fff;

      &:before {
        width: 0.9em;
        height: 0.9em;
        top: -0.3em;
        right: -0.5em;
        content: "";
        background-color: #fff;
        border-radius: 0.6em;
        transform: scale(1.2);
      }
    }
  }
}

/* .video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content {
  height: var(--player-control-bar-height);
  width: 6.35em;
} */
