.video-js {
  font-size: 14px;
  overflow: hidden;

  *,
  &:after,
  &:before {
    box-sizing: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
  }

  &.vjs-fullscreen,
  &.vjs-fullscreen .vjs-tech {
    width: 100% !important;
    height: 100% !important;
  }

  .vjs-control {
    color: inherit;
    width: 3em;

    /* &:focus:before,
    &:hover:before {
      text-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 1em #fff;
    } */

    &:focus,
    &:hover:before,
    &:focus:before {
      text-shadow: none;
    }
  }

  .vjs-slider:focus {
    text-shadow: none;
    box-shadow: none;
  }

  button {
    user-select: none;
  }

  &.vjs-error .vjs-error-display:before {
    content: "✕";
  }
}
